@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Lato);

$scaleFactor: 1.1;

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d($scaleFactor, $scaleFactor, $scaleFactor);
    transform: scale3d($scaleFactor, $scaleFactor, $scaleFactor);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d($scaleFactor, $scaleFactor, $scaleFactor);
    transform: scale3d($scaleFactor, $scaleFactor, $scaleFactor);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

body {
  position: relative;
  margin: 0;
  font: 14px Oxygen, sans-serif;
}

.score-label {
  position: fixed;
  top: 5px;
  right: 5px;
  font: 14px Lato, sans-serif;
}

cite {
  position:fixed;
  bottom: 5px;
  right: 5px;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  transition: -webkit-filter 0.1s;
  
  &.BREAK {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
  
  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

.link line {
  stroke: #696969;
}

.link line.separator {
  stroke: #fff !important;
  stroke-width: 2px;
}

.indicator{
  display: none;
  
  &.stretched {
    display: inline;
  }

  circle {
    stroke: #000;
    stroke-width: 1.5px;
    fill:dodgerblue;
  }

  text {
    font: 14px Lato, sans-serif;
    pointer-events: none;
    fill: #fff;
  }
}

.broken-indicator{
  -webkit-animation: fadeOut 2.0s ease-in both;
  animation: fadeOut 2.0s ease-in both;
  circle {
    stroke: #000;
    stroke-width: 1.5px;
    fill:red;
  }

  text {
    font: 14px Lato, sans-serif;
    pointer-events: none;
    fill: #fff;
  }
}


.node {
  circle {
    stroke: #000;
    stroke-width: 1.5px;

    &:not([energy="0"]) {
      -webkit-animation: pulse .5s ease infinite;
      animation: pulse .5s ease inifinite;

      -webkit-filter: url(#drop-shadow); 
      filter: url(#drop-shadow);
      .ios & {
        -webkit-svg-shadow:0px 0px 10px red;
        -webkit-filter: none; 
        filter: none;
      }
    }
  }

  text {
    font: 14px Oxygen,sans-serif;
    pointer-events: none;
  }
}

.console {
  position: fixed;
  top: 0;
  left: 0;
  padding:15px;
  
  background: rgba(53, 175, 240, 0.6);
  border-right: 2px solid rgba(0, 68, 196, 0.81);
  border-bottom: 2px solid rgba(0, 68, 196, 0.81);
  border-bottom-right-radius: 45px;
  
  a {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: 5px;
    
    &#add-hydrogen {
      width: 24px;
      height: 24px;
      padding-top: 1px;
      background: #ED760D;
    }
    
    &#add-carbon {
      width: 53px;
      height: 53px;
      padding-top: 16px;
      background: #1F77B4;
    }
    
    &#add-nitrogen {
      width: 57px;
      height: 57px;
      padding-top: 18px;
      background: #AEC7E8;
    }
    
    &#add-oxygen {
      width: 60px;
      height: 60px;
      padding-top: 20px;
      background: #FFBB78;
    }
  }
}