@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
@-webkit-keyframes fadeOut {
  /* line 4, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
  0% {
    opacity: 1; }

  /* line 7, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  /* line 13, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
  0% {
    opacity: 1; }

  /* line 17, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
  100% {
    opacity: 0; } }

/* line 23, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-size: 72px;
  font-family: 'Walter Turncoat', cursive; }

/* line 31, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
div {
  position: absolute; }

/* line 35, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
.digit {
  font-size: 72px;
  font-family: 'Walter Turncoat', cursive; }
  /* line 39, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
  .digit.draggable {
    cursor: -webkit-grab;
    cursor: grab; }
    /* line 43, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
    .digit.draggable.dragging {
      cursor: -webkit-grabbing;
      cursor: grabbing; }
    /* line 48, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
    .digit.draggable.combined {
      -webkit-animation: fadeOut 0.25s ease both;
      animation: fadeOut 0.25s ease both; }

/* line 55, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(1, 1, 1, 0.75);
  z-index: 1; }

/* line 65, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
.equation-area {
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  color: #fff; }
  /* line 74, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
  .equation-area input {
    font-size: 72px;
    border-radius: 20px;
    width: 120px;
    font-family: 'Walter Turncoat', cursive; }

/* line 82, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
.dial-wrapper {
  position: fixed;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  z-index: 1; }

/* line 91, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
.dial {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  position: relative;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 50%; }

/* line 101, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
.dial .operator-panel {
  position: absolute;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  padding-top: 15%;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  font-size: 24px;
  background: url(http://subtlepatterns.com/patterns/stardust.png);
  -webkit-transition: background 0.3s, border 0.3s, color 0.3s;
  transition: background 0.3s, border 0.3s, color 0.3s; }

/* line 115, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
.dial .operator-panel:hover, .dial .operator-panel.active {
  background: url(http://subtlepatterns.com/patterns/crossword.png);
  color: #333;
  border-color: #333; }

/* line 120, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
.dial .operator-panel .operator {
  display: inline-block;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* line 126, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
.dial .operator-panel:nth-child(1) {
  top: 0;
  left: 0;
  border-top-left-radius: 100%; }

/* line 131, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
.dial .operator-panel:nth-child(2) {
  top: 0;
  right: 0;
  border-top-right-radius: 100%; }

/* line 136, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
.dial .operator-panel:nth-child(3) {
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 100%; }

/* line 141, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
.dial .operator-panel:nth-child(4) {
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 100%; }

/* line 147, /Users/Chris/Development/NextGenLessons/TouchAddition/css/style.scss */
.play-button {
  color: dodgerblue;
  font-size: 24px;
  position: fixed;
  top: 5px;
  left: 5px; }

/*# sourceMappingURL=style.css.map */